{% extends 'base.html' %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
    <h1>Welcome to MEADOWVALE PROFESSIONAL CENTER PHARMACY</h1>
    <h2>Instructions for this Webpage</h2>
    <ol>
        <li>Please talk to Gina if any problem arises</li>
        <li>The low stock page must be checked at the end of each day to ensure that there are products.<br>Please check outside to see if there are products that are low stock which shouldn't be<br> in order to maintain an accurate stock count</li>
        <li>Please FOLLOW the formats that are listed on pages.</li>
    </ol>
{% endblock %}
